.cta{
    padding: 180px 0;
    background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(/img/cta/cta.jpg), #c4c4c4;
}

.cta_title{
    margin-bottom: 17px;
}

.cta_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.cta_text{
    line-height: 1.5;
}

.cta_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;
}