@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body{
    font-family: $font-main;
    background-color: $main-bg;
    color: $text-color;
    font-size: 16px;
}

a{
    color: $text-color;
    transition: color 0.2s ease-in;

    &:hover{
        color: $accent;
    }
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1140px;

    &--sm{
        max-width: 824px;
    }
}

.text-right{
    text-align: right;
}

.none{
    display: none !important; 
}

.title-2{
    color: $accent;
    font-size: 36px;
    font-family: $font-accent;
}

.link-bold{
    color: $accent;
    font-weight: 700;
}