//Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sant-serif;

//Colors
$main-bg: #242B33;
$accent: #D4C17F;
$text-color: #FFF;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;